#user {
  @include span-columns(4);
  @include shift(4);
  @include padding(40px null);
}

#user-wide {
  @include span-columns(6);
  @include shift(3);
  @include padding(40px null);
}

#users {
  @include span-columns(8);
  @include shift(2);
  @include padding(40px null);

  .links {
  @include padding(null null 20px);
  border-bottom: 1px solid $light-gray;

    a.button {
      @include margin(null 0.75rem null null);
      display: inline-block;
    }
  }

  h1 .email {
    @include margin(10px null);
    color: $medium-gray;
    font-style: italic;
    font-size: 16px;
  }

  .user {
    @include padding(20px null);
    border-top: 1px solid $light-gray;

    .name {
      display: inline;
      font-size: $base-font-size * 1.2;
    }

    .email {
      @include margin(null 15px);
      font-style: italic;
      display: inline;
    }

    &:last-child {
      border-bottom: 1px solid $light-gray;
    }
  }

  .accordion-tabs {
    .post {
      @include padding(20px null);
      border-top: 1px solid $light-gray;

      &:last-child {
        border-bottom: 1px solid $light-gray;
      }

      .title {

      }

      .teaser {
        @include margin(null null 10px);
        color: darken($medium-gray, 20%);
        font-size: em(18px);
      }

      .date {
        display: inline-block;
        color: $medium-gray;
      }

      .tags-inline {
        @include margin(null null null 0.5rem);
        display: inline-block;
        font-size: $base-font-size * 0.9;
      }
    }
  }
}
